@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Fredoka:wght@300;400&family=Hahmlet:wght@200;300;400&family=Lora:wght@400;500&family=Lustria&family=Nanum+Myeongjo:wght@400;700&family=Orbitron&family=Poppins:wght@200;300;400;600;700&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;300;400;500;600&family=Roboto:wght@100;300;400&family=Tilt+Warp&family=Varela+Round&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 100px;
    background-color: #fefef7;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
  }

a {
    color: white;
    text-decoration: none;
}




.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero .text {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-right: 50px; 
}

.hero .text h1 {
    font-family: 'Tilt Warp', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 60px;
    line-height: 80px;
   
    color: #333;
    margin-bottom: 10px;
    
}


.hero .text h2 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Warp', cursive;
    font-size: 15px;
    font-weight: 300;
    color: #333;
}


.hero .text .button-container {
    position: relative;
}


.hero .text .button-container button {
    padding: 15px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #333;
    color: white;
    font-size: 15px;
    border-style: none;
    border-radius: 100px;

    margin-top: 50px;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.hero .text .button-container button a {
    color: white; 
}


.hero .text .button-container button:hover {
    background-color: rgb(232, 232, 232);
    transition: background-color 0.2s linear 0.2s linear;

}







.hero img {
   width: 480px;
}





